%a.btn.btn-default.btn-lg.btn-block{:href => "/admin/clean_pages"} 清理页面
%a.btn.btn-default.btn-lg.btn-block{:href => "/admin/refresh"} 重置号码
%a.btn.btn-default.btn-lg.btn-block{:href => "/admin/align"} 随机分配
