%a.btn.btn-default.btn-lg.btn-block{:href => "/admin/refresh"} 初始化名单
%a.btn.btn-default.btn-lg.btn-block{:href => "/admin/refresh"} 一键重置
%a.btn.btn-default.btn-lg.btn-block{:href => "/admin/clean_pages"} 清理页面
%a.btn.btn-default.btn-lg.btn-block{:href => "/admin/members"} 中奖状态
%a.btn.btn-default.btn-lg.btn-block{:href => "/admin/report"} 中奖简报
