default: &default
  app_name: 'happy_money'
  redis_url: 'redis://127.0.0.1:6379/0'
  admin_nums:
    - 'admin'
    - 'rspec'
    - '2017'
  website:
    title: '17 年会 | 抽奖'
    subtitle: '2017 年会'
    slogan: 'todo'
    favicon: '/images/2017.ico'
    footer: ''
  unicorn:
    timeout: 30
    worker_processes: 3
  prizes:
    - 现金一等奖(3,000)x1
    - 现金二等奖(1,500)x2
    - 现金三等奖(600)x4
    - 物品一等奖(iPad)x1
    - 物品二等奖(Kindle)x3
  members:
    - 'hello - organize_a'
    - 'world - organize_b'

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
