-# coding: UTF-8
%nav.navbar.navbar-default{role: 'navigation', style:'margin-bottom:0px;'}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{'data-target' => '#navbar-collapse', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to Setting.website.title, "/", class: "navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse{role: 'navigation', id:'navbar-collapse'}
      %ul.nav.navbar-nav
        %li.active= link_to '管理', '/admin'
        %li= link_to '抽奖', '/admin/random'
        %li= link_to '测试', '/admin/test'
